<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {{pageHeader}}
  <br><br>
  <button 
  [style.padding.px]="buttonPadding"
  [style.background-color]="colour"
   (click)="toggleImage()">{{showImage ? 'Hide' : 'Show'}} Images</button> <br> <br>
<label for="">Search  </label>
  <input type="text"
  [(ngModel)] = 'listFilter'
  >

  <h3>Filter By: {{listFilter}}</h3>

  <table *ngIf = 'products.length'>
    <thead>
      <tr>
        <th>Product Image</th>
        <th>Product Name</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody> 

      <tr *ngFor='let product of products'>
        <td>
          <img *ngIf = 'showImage'
          [src]='product.imgUrl'
          [style.width.px]='imageWidth'
          [style.margin.px]='imageMargin'
          >
        </td>
        <td>{{product.productName}}</td>
        <td>{{product.quantity}}</td>
      </tr>
      

      </tbody>
  </table>
</body>
</html>