<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="container">
  {{pageHeader}}
  <br><br>

  <button (click)="toggleImage()" class="btn btn-warning">{{showImage ?
    'Hide' : 'Show'}} Images</button> <br><br>

    <div class="row">
      <div class="col-3">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]='listFilter'>
        </div>
      </div>
    </div>

   
    

  <h3>Filter By: {{listFilter}}</h3>


  <table class="table" *ngIf='products.length'>
    <thead>
      <tr>
        <th>Product Image</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let product of filteredProducts'>
        <td>
          <img *ngIf='showImage' [src]='product.imgUrl' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
        </td>
        <td>{{product.productName}}</td>
        <td>{{product.quantity | convertToSpaces}}</td>
        <td>{{product.price | currency}}</td>
        <td><app-star [rating]='product.rating' 
                      (ratingClicked) = 'onRatingClicked($event)'>
                    </app-star></td>
      </tr>
    </tbody>
  </table>


</body>

</html>