<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ﻿<div class="card">
        <div class="card-header">
          {{pageTitle}}
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="text-center">
              <img src="./assets/OIG.jpeg"
                   class="img-responsive center-block"
                   style="max-height:300px;padding-bottom:50px" />
            </div>
      
            <div class="text-center">Developed by:</div>
            <div class="text-center">
              <h3>Rushma</h3>
            </div>
      
            <div class="text-center">Rushma</div>
            <div class="text-center">
              <a href="http://www.bit.ly/DeborahKsBlog">blog</a>
            </div>
          </div>
        </div>
      </div>
</body>
</html>

